.App {
  text-align: center;
}

.App-header {
  background-color: #d17bf3;
  min-height: 87vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(221, 236, 8);
}
